/* Body and background settings
/* body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
} */

/* Wrapper for the invitation card */
.invitation-wrapper {
    width: 264mm;
    height: 330mm;
    background: #030d2e;
    position: absolute;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.invitation-wrapper .background-img{
    position: absolute;
    left:0mm;
    top:0mm;
    z-index:1;
}

/* Background decorations */
.invitation-wrapper .invitation-background{
    position: relative;
    left: 0mm;
    top: 19mm;
    width: 210mm;
    height: 297mm;
    background-color: #f8e690;
    z-index: 1;

}

.invitation-wrapper .invitation-background .square-1{
    position: relative;
    left: 0mm;
    top: 0mm;
    width: 172mm;
    height: 297mm;
    border: 0.2mm solid darkgoldenrod;
    background-color: #f7f6f3;
    z-index: 1;

}

.invitation-wrapper .invitation-background .circle-1{
    position: absolute;
    left: 44mm;
    top: 68mm;
    z-index: 4;
}

Invitation content styling
.invitation-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    padding: 20px;
    text-align: center;
    z-index: 3;
}

.invitation-header {
    font-size: 2.5rem;
    color: #27115d;
    margin-bottom: 23px;
    position: absolute;
    top: -89mm;
    left: 38mm;
    z-index: 3;
}
.event-name {
    font-size: 5rem;
    color: #cb8909;
    margin-bottom: 10px;
    position: absolute;
    font-family: "Aladin", system-ui;
    font-weight: 400;
    font-style: normal;
    top: 57mm;
    left: 64mm;
    font-weight: bold;
    z-index: 3;
}
.date {
    font-size: 2.2rem;
    color: #27115d;
    position: absolute;
    top: 207mm;
    left: 74mm;
    font-family: "Gruppo", sans-serif;
    font-weight: 900;
    font-style: normal;
    z-index: 3;
}
.time {
    font-size: 2rem;
    color: #27115d;
    position: absolute;
    top: 210mm;
    left: 157mm;
    font-family: "Gruppo", sans-serif;
    font-weight: 900;
    font-style: normal;
    z-index: 3;
}

.location {
    font-size: 2.2rem;
    color: #27115d;
    position: absolute;
    font-family: "Gruppo", sans-serif;
    font-weight: 900;
    font-style: normal;
    top: 220mm;
    left: 80mm;
    font-weight: bold;
    z-index: 3;
}

/* Additional content styling */
.salutation {
    font-size: 2.5rem;
    color: #f83b0b;
    margin-bottom: 10px;
    position: absolute;
    font-family: "Gruppo", sans-serif;
    font-weight: 900;
    font-style: normal;
    top: 31mm;
    left: 78mm;
    z-index: 3;
}

.tagline {
    font-size: 26pt;
    color: #27115d;
    margin-bottom: 20px;
    font-family: "Gruppo", sans-serif;
    font-weight: 900;
    font-style: normal;
    position: absolute;
    top: 43mm;
    left: 56mm;
    z-index: 3;
}

.event-subheading {
    font-size: 2rem;
    color: #27115d;
    margin-bottom: 10px;
    position: absolute;
    top: -54mm;
    left: 24mm;
    z-index: 3;
}
.event-pre-description {
    font-size: 1.8rem;
    color: #27115d;
    margin-bottom: 5px;
    position: absolute;
    top: 50mm;
    left: 3mm;
    z-index: 3;
}

.event-description {
    font-size: 20pt;
    color: #830c87;
    margin-bottom: 5px;
    position: absolute;
    top: 239mm;
    left: 54mm;
    font-family: "Gruppo", sans-serif;
    font-weight: 900;
    z-index: 3;
}

.event-organizer {
    font-size: 1.5rem;
    color: #27115d;
    margin-bottom: 5px;
    font-family: "Gruppo", sans-serif;
    font-weight: 900;
    font-style: normal;
    position: absolute;
    top: 270mm;
    left: 95mm;
    font-weight: 700;
    z-index: 3;
}

.event-other-organizers {
    font-size: 1.8rem;
    color: #27115d;
    margin-bottom: 5px;
    font-family: "Gruppo", sans-serif;
    font-weight: 900;
    font-style: normal;
    position: absolute;
    top: 280mm;
    left: 61mm;
    font-weight: 700;
    z-index: 3;
}

.event-organizers-contact-person {
    font-size: 1.5rem;
    color: #00BCD4;
    margin-bottom: 5px;
    font-family: "Gruppo", sans-serif;
    font-weight: 900;
    font-style: normal;
    position: absolute;
    top: 291mm;
    left: 82mm;
    font-weight: 700;
    z-index: 3;

}

.event-organizers-contact-number {
    font-size: 1.5rem;
    color: #00BCD4;
    margin-bottom: 5px;
    font-family: "Gruppo", sans-serif;
    font-weight: 900;
    font-style: normal;
    position: absolute;
    top: 300mm;
    left: 86mm;
    font-weight: 700;
    z-index: 3;
}
.event-participant-1 {
    font-size: 4rem;
    color: #27115d;
    margin-bottom: 5px;
    line-height: 1;
    position: absolute;
    top: 144mm;
    left: 102mm;
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
    font-weight: bold;
    z-index: 3;
    
}


.event-participant-1-details {
    font-size: 16pt;
    color: #27115d;
    margin-bottom: 5px;
    position: absolute;
    font-family: "Gruppo", sans-serif;
    font-weight: 400;
    font-style: normal;
    top: 178mm;
    left: 108mm;
    z-index: 3;
}

.event-participant-2 {
    font-size: 4rem;
    color: #27115d;
    margin-bottom: 5px;
    position: absolute;
    top: 106mm;
    left: 96mm;
    font-family: "Satisfy", cursive;
    font-weight: 100;
    font-style: normal;
    font-weight: bold;
    z-index: 3;

}
.event-participant-2-details {
    font-size: 16pt;
    color: #27115d;
    margin-bottom: 5px;
    position: absolute;
    font-family: "Gruppo", sans-serif;
    font-weight: 400;
    font-style: normal;
    top: 128mm;
    left: 98mm;
    z-index: 3;
} 
.line-1{
    position: absolute;
    left: 39mm;
    top: 246mm;
    width: 129mm;
    border: 1mm solid #ff980073;
    z-index: 4;
}

.line-2{
    position: absolute;
    left: 39mm;
    top: 214mm;
    width: 129mm;
    border: 1mm solid #ff980073;
    z-index: 4;
}