/* Body and background settings */
/* body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
} */

/* Wrapper for the invitation card */
.invitation-wrapper {
    width: 210mm;
    height: 297mm;
    background: #fff;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 7.5pt rgba(0, 0, 0, 0.2);
}

/* Background decorations */
.yellow-dash {
    position: absolute;
    top: 260mm;
    left: 97mm;
    background: #bd952382;
    height: 2mm;
    width: 47mm;
}

.top-left-orange {
    width: 0mm;
    height: 0mm;
    border-left: 37.5pt solid transparent;
    border-right: 37.5pt solid transparent;
    border-top: 48pt solid #e68950;
    border-top-left-radius: 14pt;
    border-top-right-radius: 14pt;
    transform: rotate(144deg);
    position: absolute;
    top: 23.54mm;
    left: -0.5mm;
}

.top-right-orange{
    width: 0mm;
    height: 0mm;
    border-left: 37.5pt solid transparent;
    border-right: 37.5pt    solid transparent;
    border-top: 48pt solid #e68950;
    border-top-left-radius: 14pt;
    border-top-right-radius:14pt;
    border-bottom-right-radius: 14pt;
    transform: rotate(221deg);
    position: absolute;
    top: 24.6mm;
    left: 184.6mm;
}
.middle-light-blue {
    width: 381.7mm;
    height: 381.7mm;
    background: rgba(199, 219, 227, 0.5);
    transform: rotate(42deg);
    position: absolute;
    top: 115mm;
    left: -60mm;
}
.line1 {
    position: absolute;
    left: 5mm;
    top: 152mm;
    width: 1.2mm;
    height: 94mm;
    color: white;
    background-color: #d8a553a5;
}
.line2 {
    position: absolute;
    left: 5mm;
    top: 260mm;
    width: 1.2mm;
    height: 25mm;
    color: white;
    background-color: #d8a553a5;
    z-index: 0;
}
.line3{
    position: absolute;
    left: 203mm;
    top: 260mm;
    width: 1.2mm;
    height: 25mm;
    color: white;
    background-color: #d8a553a5;
    z-index: 0;
}

.line4{
    position: absolute;
    left: 203mm;
    top: 152mm;
    width: 1.2mm;
    height: 94mm;
    color: white;
    background-color: #d8a553a5;
    z-index: 0;
}

.rect1{
    position: absolute;
    left: 96mm;
    top: 14mm;
    width: 20mm;
    height: 20mm;
    background-color: #ffffff;
    z-index: 13;
}

.box{
    position: absolute;
    left: 5mm;
    top: 24mm;
    width: 197.2mm;
    height: 114mm;
    color: #9e9b9ba5;
    background-color: #ffffffa5;
    z-index: 0;
    border-radius: 151pt;
    border: 3pt solid #9e9b9ba5;
    border-bottom: none;
    border-bottom-left-radius: 0pt;
    border-bottom-right-radius: 0pt;
}


/* Invitation content styling */
.invitation-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    padding: 5.2mm;
    text-align: center;
}

.invitation-header {
    font-size: 30.0pt;
    color: #27115d;
    margin-bottom: 6.08mm;
    position: absolute;
    top: -89mm;
    left: 38mm;
}
.event-name {
    font-size: 48pt;
    color: #27115d;
    margin-bottom: 2.6mm ;
    position: absolute;
    top: -77mm;
    left: 19mm;
    font-weight: bold;
}
.date {
    font-size: 26.4pt;
    color: #27115d;
    position: absolute;
    top: 23mm;
    left: 17mm;
    font-weight: bold;
}
.time {
    font-size: 26.4pt;
    color: #27115d;
    position: absolute;
    top: 37mm;
    left: 37mm;
    font-weight: bold;
}

.location {
    font-size: 26.4pt;
    color: #27115d;
    position: absolute;
    top: 23mm;
    left: 107mm;
    font-weight: bold;
}

/* Additional content styling */
.salutation {
    font-size: 30.0pt;
    color: #27115d;
    margin-bottom: 2.6mm;
    position: absolute;
    top: -103mm;
    left: 47mm;
}

.tagline {
    font-size: 21.6pt;
    color: #27115d;
    margin-bottom: 5.29mm;
    position: absolute;
    top: -88mm;
    left: 40mm;
}

.event-subheading {
    font-size: 24.0pt;
    color: #27115d;
    margin-bottom: 2.64mm;
    position: absolute;
    top: -54mm;
    left: 24mm;
}
.event-pre-description {
    font-size: 21.6pt;
    color: #27115d;
    margin-bottom: 1.3mm;
    position: absolute;
    top: 50mm;
    left: 3mm;
}

.event-description {
    font-size: 21.6pt;
    color: #27115d;
    margin-bottom: 1.3mm;
    position: absolute;
    top: 66mm;
    left: 3mm;
}

.event-organizer {
    font-size: 18.0pt;
    color: #27115d;
    margin-bottom: 1.3mm;
    position: absolute;
    top: 106mm;
    left: 24mm;
}

.event-other-organizers {
    font-size: 21.6pt;
    color: #27115d;
    margin-bottom: 1.3mm;
    position: absolute;
    top: 114mm;
    left: 31mm;
}

.event-organizers-contact-person {
    font-size: 18.0pt;
    color: #27115d;
    margin-bottom: 1.3mm;
    position: absolute;
    top: 129mm;
    left: 65mm;
}

.event-organizers-contact-number {
    font-size: 18.0pt;
    color: #27115d;
    margin-bottom: 1.3mm;
    position: absolute;
    top: 137mm;
    left: 65mm;
}
.event-participant-1 {
    font-size: 71.9pt;
    color: #27115d;
    margin-bottom: 1.3mm;
    position: absolute;
    top: -27mm;
    left: 115mm;
    font-weight: bold;
}

.event-participant-1-details {
    font-size: 26.4pt;
    color: #27115d;
    margin-bottom: 1.3mm;
    position: absolute;
    top: 2mm;
    left: 112mm;
}

.event-participant-2 {
    font-size: 71.9pt;
    color: #27115d;
    margin-bottom: 1.3mm;
    position: absolute;
    top: -31mm;
    left: -3mm;
    font-weight: bold;
}
.event-participant-2-details {
    font-size: 26.4pt;
    color: #27115d;
    margin-bottom: 1.3mm;
    position: absolute;
    top: 2mm;
    left: 7mm;
}